.example-spacer {
  flex: 1 1 auto;
}

.primary-toolbar{
  background-color: #d7e3ff;
}

ul {
  display: flex;
  list-style-type: none;

  li {
    margin-left: 15px;
  }
}

.active {
  color: red;
}
