<form [formGroup]="productForm" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="" name="title" formControlName="title" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input
      type="number"
      matInput
      placeholder=""
      name="price"
      formControlName="price"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!productForm.valid"
  >
    Add
  </button>
</form>
